<!-- templates/frontend/dashboard.html -->

{% extends 'frontend/base.html' %}  <!-- Inherit from the base template -->

{% block content %}
    <h2 class="text-center mb-4">Welcome, {{ user.username }}!</h2>  <!-- Display the logged-in user's username -->

    <div class="container mt-5">
        <div class="row">
            <!-- Column for generating a new password -->
            <div class="col-md-4">
                <div class="card-custom">
                    <a href="{% url 'generate_password' %}" class="btn-custom btn-success-custom">
                        <i class="fas fa-key"></i> Generate New Password
                    </a>
                </div>
            </div>

            <!-- Column for adding a new password -->
            <div class="col-md-4">
                <div class="card-custom">
                    <a href="{% url 'add_password' %}" class="btn-custom btn-primary-custom">
                        <i class="fas fa-plus"></i> Add New Password
                    </a>
                </div>
            </div>

            <!-- Column for viewing saved passwords -->
            <div class="col-md-4">
                <div class="card-custom">
                    <a href="{% url 'password_list' %}" class="btn-custom btn-secondary-custom">
                        <i class="fas fa-list"></i> View Saved Passwords
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
