{% extends 'frontend/base.html' %}

{% block content %}

<h2>Your Saved Passwords</h2>
<!-- Table displaying saved passwords -->
<table class="table">
    <thead>
        <tr>
            <th>App Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for password in passwords %}
        <tr>
            <td>{{ password.app_name }}</td>
            <td>{{ password.username }}</td>
            <td>
                <!-- Initially show encrypted password -->
                <span id="decrypted-password-{{ password.id }}">
                    {{ password.password }} <!-- Display encrypted password here -->
                </span>
            </td>
            <td>
                <!-- Edit button: Redirects to the password edit page -->
                <form action="{% url 'edit_password' password.id %}" method="GET" style="display:inline;" class="btn-form">
                    <button type="submit" class="btn">Edit</button>
                </form>
                
                <!-- Delete button: Sends a GET request to delete the password -->
                <form action="{% url 'delete_password' password.id %}" method="GET" style="display:inline;" class="btn-form">
                    {% csrf_token %}
                    <button type="submit" class="btn">Delete</button>
                </form>
                
                <!-- Decrypt button: Sends a POST request to decrypt the password -->
                <form action="{% url 'decrypt_password' password.id %}" method="POST" style="display:inline;" class="btn-form">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info">Decrypt</button>
                </form> 
            </td>
        </tr>
        {% empty %}
        <!-- Message shown if there are no saved passwords -->
        <tr>
            <td colspan="4">No saved passwords found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Add New Password button: Links to the page for adding a new password -->
<br>
<div class="add-password-container text-center mt-4">
    <a href="{% url 'add_password' %}" class="btn-add-password">
        <i class="fas fa-plus-circle"></i> Add New Password
    </a>
</div>

{% endblock %}
